
body{
	background-color: pink;
}
p{

	font-family: Arial,Helvetica,
	sans-serif;
	font-size:20px;
	font-weight:normal;
	/*same as above*/
	font:normal 20px Arial,Helvetica,
	sans-serif;
	line-height:1.6em;
	margin:0;
} 
.container{
	width:500px;
	margin:auto;
} 
.botton{
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border:none;
}
.botton:hover{
	background-color:red;
	color:#fff;
}
.clr{
	clear:both;
}


.box-1{
	background-color:#333;
	color:red;


	border-right:5px blue solid;
	border-left:5px blue solid;
	border-top:10px green solid;
	border-bottom:10px green solid;
	border-top-style:dotted;
	/*same as above*/
	border:5px red solid;
	border-bottom-width:10px;
	border-top-style:dotted;



	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;

	/*same*/
	padding:20px;
    
    margin-top:20px;
	margin:20px 0;
} 
.box-1 h1{
		font-family:Tahoma;
		font-weight:800;
		font-style:italic;
		text-decoration:underline;
		text-transform:uppercase;
		letter-spacing: 0.2em;
		word-spacing: 1em;
} 

.box-2{
	border-right:5px black solid;
	border-left:5px black solid;
	border-top:10px yellow solid;
	border-bottom:10px yellow solid;
	border-top-style:dotted;
	padding:20px;
	margin:20px 0;
}
a{
	text-decoration:none;
	color:#0000;
}

a:hover{
	color:red;
}

a:active{
	color:green;
}
a:visited{
	color:blue;
}
.container{
    width:80%;
    margin:auto;
}


.categories{
	border:1px black solid;
	padding:10px;
	border-radius:15px;
}
.categories h2{
	text-align:left;
}
.categories ul{
	text-align:center;
	padding:0;
	list-style:circle;
	
}

.categories li{
	padding-bottom:6px;
	border-bottom:dotted 1px #333;
	list-style-image: url('../image/check.jpeg');
}

 .my-form{
 	padding:20px;
 } 
 .my-form .form-group{
 	padding-bottom:15px;
 }
 .my-form label{
 	display:block;
 }

 .my-form input[type="text"], .my-form textarea{
 	padding:8px;
 	width:100%;
 }
.block{
	float:left;
	width:33.3%;
	border:1px solid #ccc;
	padding:10px;
	box-sizing:border-box;
}

#main-block{
	float:left;
	width:70%;
	padding:15px;
	box-sizing: border-box;
}
#sidebar{
	float:right;
	width:30%;
	background-color:#333;
	color:#fff;
	padding:15px;
	box-sizing: border-box;
}
.p-box{
	width:800px;
	height:500px;
	border:1px solid #000;
	margin-top:30px;
	position:relative;
	background-image:url('../image/bgimage.jpeg');
	background-position:100px 200px;
}
.p-box h1{
	position:absolute;
	top:200px;
	left: 200px;

}
.p-box h2{
	position:absolute;
	bottom: 5px;
	right: 100px;
}
.fix-me{
    left:10px;
	position:fixed;
	top: 400px;
}
.my-list li:first-child{
	background: red;
}
.my-list li:last-child{
	background:blue;
}
.my-list li:nth-child(5){
	background:red;
}
.my-list li:nth-child(even){
	background:green;
}
.my-list li:nth-child(odd){
	background:grey;
}
}
